*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Secrets (Hanya kunci akses, bukan konfigurasi)
/backend/service-account.json
/backend/radar-gempa-*.json
google-services.json

